.progression-bar_stock,
.progression-bar_admin {
	position:absolute;
	top:0;
	border-bottom: 2px solid black;
	z-index: 1;
}

.progression-bar_admin{
	width:18%;
	left:5%;
}

.progression-bar_stock{
	width:10%;
	left:32.5%;
}







.form_admin{
	margin-top:3%;
	width:100%;
	display: flex;
	flex-direction: column;
	background-color: #333;
	color:white;
	padding-bottom:3%	
}

.form_admin h1{
	text-align: center;
}



.form_admin_body{
	display: flex;
	justify-content: space-around;
}

.form_admin_body textarea{
	height:40%;
	resize: none;
	font-family: 'Poppins', sans-serif;
}

.form_admin_position{
	display: flex;
	flex-direction: column;
}

.input_admin{
	height:10%;
	font-family: 'Poppins', sans-serif;
	border:5%;
}

.input_file::-webkit-file-upload-button{
    -webkit-apparence:none;
    background:lightgray none;
    border:solid 1px gray;
    border:5%;
    font-family: 'Poppins', sans-serif;
 
}

.button_admin_position{
	display: flex;
	justify-content: center;
	width: 100%;
}

.button_admin{
	margin-top:3%;
	height:40px;
	width:20%;
	background-color:black;
	color:white;
}


.table_products{
	margin-top:5%;
	width:100%;
	
}

.table_products th{text-align:center;}

.table_products td{
	

}

.table_products button{
	background: none;
	border:none;
}

.table_products i:hover{
	color:lightgray;
	transition:.5s;
}

.table_middle{
	text-align: center;
}

.table_justify{
	
	text-align: justify;
	padding:0.5%;
}