.progression-bar_stock,
.progression-bar_admin,
.progression-bar_account,
.progression-bar_orders{
	position:absolute;
	top:0;
	border-bottom: 2px solid black;
	z-index: 1;
}

.progression-bar_admin{
	width:25%;
	left:0;
}

.progression-bar_stock{
	width:25%;
	left:25%;
}

.progression-bar_account{
	width:25%;
	right:0;
}

.progression-bar_orders{
	width:25%;
	right:25%;
}

.form_admin{
	margin-top:3%;
	width:100%;
	display: flex;
	flex-direction: column;
	background-color: #333;
	color:white;
	padding:3%;	
}

.form_admin h1{
	text-align: center;
}

.form_admin_body{
	display: flex;
	justify-content: space-around;
}

.form_admin_body textarea{
	height:auto;
	resize: none;
	font-family: 'Poppins', sans-serif;
}

.form_admin_position{
	display: flex;
	flex-direction: column;
	width: 30%;
}

.input_admin{
	height:auto;
	font-family: 'Poppins', sans-serif;
	border:5%;
}

.input_file::-webkit-file-upload-button{
    -webkit-apparence:none;
    background:lightgray none;
    border:solid 1px gray;
    border:5%;
    font-family: 'Poppins', sans-serif;
 
}

.button_admin_position{
	display: flex;
	justify-content: center;
	width: 100%;
}

.button_admin{
	margin-top:3%;
	height:40px;
	width:20%;
	background-color:black;
	color:white;
}

.titleTable{display:none}


.table_admin{
	margin-top:5%;
	width:100%;
	
}

.table_admin th{
	text-align:center;
	font-size:13px;
}

.table_admin td{
	
font-size:12px;
}

.table_admin button{
	background: none;
	border:none;
}

.table_admin i:hover{
	color:lightgray;
	transition:.5s;
}

.table_title{
	border:1px solid #333;
	padding: 1%;
}

.table_middle{
	text-align: center;
}

.table_justify{
	
	text-align: justify;
	padding:0.5%;
	font-size:11px;
}

.pagination{
	text-align: center;
}

.actual_page{
	color:white;
	background-color:#333;
	padding:1%;
}

.other_pages{
margin:1%
}





.definitive_delete{
	display: flex;
	justify-content: center;
	width:100%;
}

.definitive_delete button{
	margin-top:3%;
	height:40px;
	background-color:black;
	color:white;

}


/* ORDERS MANAGEMENT */

#orders_management table{border-collapse: collapse;}

#table_orders table,#table_orders td {border:1px solid black;}

.address_info,.product_info{padding:1%;}
.product_info i{font-size:5px;color:grey;}

.pending:hover{color:red;border-color:red;}
.processing:hover{color:orange;}
.shipped:hover{color:blue;}
.delivered:hover{color:green;}
.cancelled:hover{color:grey;}
.status:hover{transition:.5s;background-color:white;}

.table_br{
	width:5%;
}

.status_position{
	padding:1%;
	width:10%;
}
.amount_position{width:5%;}

@media screen and (max-width: 1440px)
{

}

@media screen and (max-width: 1024px)
{
	/* Force table to not be like tables anymore */
	.prod,
	.order,
	.prod thead,
	.order thead,
	.prod tbody,
	.order tbody,
	.prod th,
	.order th,
	.prod td,
	.order td,
	.prod tr,
	.order tr{
		display: block;

	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.prod thead tr,
	.order thead tr{
		position: absolute;
		top: -9999px;
		left: -9999px;

	}

	tr{border: 0.1px solid var(--buttonAndFooter-color);}


	.prod td,
	.order td{
		/* Behave  like a "row" */
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 30%;
		font-size:12px;
	}

	.prod td:before,
	.order td:before{
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*Label the data*/

	.prod td:nth-of-type(1):before { content: "CAT"; }
	.prod td:nth-of-type(2):before { content: "SOUS-CAT"; }
	.prod td:nth-of-type(3):before { content: "SOUS-CAT NIV 2"; }
	.prod td:nth-of-type(4):before { content: "ID PRODUIT"; }
	.prod td:nth-of-type(5):before { content: "NOM"; }
	.prod td:nth-of-type(6):before { content: "DESCRIPTION"; }
	.prod td:nth-of-type(7):before { content: "TAILLE"; }
	.prod td:nth-of-type(8):before { content: "COULEUR"; }
	.prod td:nth-of-type(9):before { content: "PRIX UNIT"; }
	.prod td:nth-of-type(10):before { content: "STOCK"; }
	.prod td:nth-of-type(11):before { content: "PHOTO"; }
	.prod td:nth-of-type(12):before { content: ""; }
	.prod td:nth-of-type(12):before { content: ""; }

	.order td:nth-of-type(1):before { content: "N° COMMANDE"; }
	.order td:nth-of-type(2):before { content: "ID UTISALISATEUR"; }
	.order td:nth-of-type(3):before { content: "ADRESSE"; }
	.order td:nth-of-type(4):before { content: "PRODUIT(S)"; }
	.order td:nth-of-type(5):before { content: "TOTAL"; }
	.order td:nth-of-type(6):before { content: "";}
	.order td:nth-of-type(7):before { content: "DERNIERE MISE A JOUR"; }

	.amount_position,.status_position{width:100%;}
	#table_orders table,#table_orders td {border:0.1px solid var(--buttonAndFooter-color);}

	.status_position a{font-size:10px;}

	#statusSize{
		text-align: center;
		padding:1.5%
	}

}

@media screen and (max-width: 900px)
{


}

@media screen and (max-width: 768px)
{
	.form_admin_body{
		display: flex;
		flex-direction: column;
		padding:5%;
	}

	.form_admin_position{width:100%;}

	.button_admin{width:55%;}

}

@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	.table_admin,
	.table_admin thead,
	.table_admin tbody,
	.table_admin th,
	.table_admin td,
	.table_admin tr {
		display: block;

	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.table_admin thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;

	}

	tr{border: 0.1px solid var(--buttonAndFooter-color);}


	.table_admin td {
		/* Behave  like a "row" */
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 35%;
		font-size:12px;

	}

	.table_admin td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
	Label the data
	*/
	.cat1 td:nth-of-type(1):before { content: "ID CATEGORIE"; }
	.cat1 td:nth-of-type(2):before { content: "NOM"; }
	.cat1 td:nth-of-type(3):before { content: "DESCRIPTION"; }
	.cat1 td:nth-of-type(4):before { content: ""; }
	.cat1 td:nth-of-type(5):before { content: ""; }

	.cat2 td:nth-of-type(1):before { content: "ID SOUS-CAT"; }
	.cat2 td:nth-of-type(2):before { content: "NOM"; }
	.cat2 td:nth-of-type(3):before { content: "DESCRIPTION"; }
	.cat2 td:nth-of-type(4):before { content: ""; }
	.cat2 td:nth-of-type(5):before { content: ""; }

	.cat3 td:nth-of-type(1):before { content: "ID SOUS-CAT NIV 2"; }
	.cat3 td:nth-of-type(2):before { content: "NOM"; }
	.cat3 td:nth-of-type(3):before { content: "DESCRIPTION"; }
	.cat3 td:nth-of-type(4):before { content: ""; }
	.cat3 td:nth-of-type(5):before { content: ""; }

	.prod td:nth-of-type(1):before { content: "CAT"; }
	.prod td:nth-of-type(2):before { content: "SOUS-CAT"; }
	.prod td:nth-of-type(3):before { content: "SOUS-CAT NIV 2"; }
	.prod td:nth-of-type(4):before { content: "ID PRODUIT"; }
	.prod td:nth-of-type(5):before { content: "NOM"; }
	.prod td:nth-of-type(6):before { content: "DESCRIPTION"; }
	.prod td:nth-of-type(7):before { content: "TAILLE"; }
	.prod td:nth-of-type(8):before { content: "COULEUR"; }
	.prod td:nth-of-type(9):before { content: "PRIX UNIT"; }
	.prod td:nth-of-type(10):before { content: "STOCK"; }
	.prod td:nth-of-type(11):before { content: "PHOTO"; }
	.prod td:nth-of-type(12):before { content: ""; }
	.prod td:nth-of-type(13):before { content: ""; }

	.account td:nth-of-type(1):before { content: "ID UTILISATEUR"; }
	.account td:nth-of-type(2):before { content: "NOM"; }
	.account td:nth-of-type(3):before { content: "PRENOM"; }
	.account td:nth-of-type(4):before { content: "SEXE"; }
	.account td:nth-of-type(5):before { content: "DATE DE NAISSANCE"; }
	.account td:nth-of-type(6):before { content: "TELEPHONE"; }
	.account td:nth-of-type(7):before { content: "MAIL"; }
	.account td:nth-of-type(8):before { content: "DATE D'INSCRIPTION"; }
	.account td:nth-of-type(9):before { content: "DERNIERE MODIFICATION"; }
	.account td:nth-of-type(10):before { content: "TYPE DE COMPTE"; }
	.account td:nth-of-type(11):before { content: "RGPD"; }
	.account td:nth-of-type(12):before { content: "NEWSLETTER"; }
	.account td:nth-of-type(13):before { content: ""; }
	.account td:nth-of-type(14):before { content: ""; }


	.wish td:nth-of-type(1):before { content: "ID UTILISATEUR"; }
	.wish  td:nth-of-type(2):before { content: "ID PRODUIT"; }
	.wish  td:nth-of-type(3):before { content: "PRODUIT(S)"; }
	.wish  td:nth-of-type(4):before { content: "PHOTO"; }
	.wish td:nth-of-type(5):before { content: "DATE AJOUT"; }

	.cart td:nth-of-type(1):before { content: "ID UTILISATEUR"; }
	.cart  td:nth-of-type(2):before { content: "ID PRODUIT"; }
	.cart  td:nth-of-type(3):before { content: "PRODUIT(S)"; }
	.cart  td:nth-of-type(4):before { content: "PHOTO"; }
	.cart  td:nth-of-type(5):before { content: "QUANTITE"; }
	.cart td:nth-of-type(6):before { content: "DATE AJOUT"; }






	.table_middle{
		text-align: left;
	}

	.titleTable{display:block}



}


@media screen and (max-width: 630px)
{

}


@media screen and (max-width: 480px)
{

}