.breadcrumb_line{
	border-top:1px solid lightgray;
}


.breadcrumb_line li {
		display: inline;
		text-transform: uppercase;
}

.text_background h1 {
	text-transform: uppercase;
}

.breadcrumb_line a:hover{
	transition:1s;
	color :lightgray;
}

.description_category{
	background-color:#F2F2F2;
	padding-right:8%;
	padding-left:8%;
	padding-top:2%;
	padding-bottom:2%;
}

.text_background{
	background-color: white;
	width:40%;
	padding:2%;
}

.products{
	margin-top:5%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-right:8%;
	padding-left:8%;
}

.products_card{width:30%;}

.products_card,.info_products{
	display: flex;
	flex-direction: column;

}

.info_products{}

.title_cart{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width:75%;
	
}

.title_cart h3{font-size:15px;}

.building_page{
	margin-top:5%;
	padding-right:8%;
	padding-left:8%;
}