.checkPaymentBackground{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:5%;
}

.containerCheckPayment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:black;
    background-color:rgba(0,0,0,0.7);
    padding:5%;
    width:100%;
}

.containerCheckPayment h1{
    text-align: center;
    color: white;
}

.containerCheckPayment a{
    color:white;
    border-bottom:1px solid white;
    text-align: center;
}

.containerCheckPayment a:hover{
    transition:.5s;
    color:black;
    border-bottom:1px solid black;
}