.footer{
	display:flex;
	flex-direction:column;
	padding-right:8%;
	padding-left:8%;
}

.footer span{color:red;}

.newsletter_footer{
	display: flex;
	justify-content: space-between;

}

.paragraphe_newsletter,
.picture_newsletter{
	width:45%;
}

.picture_newsletter img{
	width:100%;
}

.form_newsletter{
	display: flex;
	flex-direction: column;
}

.mail_newsletter{
	width:30%;
	border:0.1px solid black;
}

.submit_mail_button{
	width:3%;
	background-color: white;
	border-right: 0.1px solid black;
	border-top: 0.1px solid black;
	border-bottom: 0.1px solid black;
	border-left:none;
	margin-left:-0.4%;
}

.mail_newsletter,.submit_mail_button{
	height:40px;
}

.footer_table{
	margin-top:5%;
}

.footer_table table{
	width:100%;
}

.footer_table th{
	text-align: left; 
	font-weight:lighter;
}

.place_list_footer{
	margin-top: 5%;
	margin-left: -18%;
}


.footer_table table tr td {
vertical-align: top;
}

.delivery_places{width:20%;}
.delivery_track {width:40%;}
.about_us {width:40%;}
.delivery_track_part {width:20%;}
.about_us_part {width:20%;}


.footer_rs h4{
	font-weight:lighter;
	margin:0;
}
.network_line{
	padding-bottom: 2.5%;
	border-bottom: 2px solid black;
}

.network_line i{font-size:25px;}

.footer_end{
	display: flex;
}

.logo_footer{
	width:20%;
}

.payment_copyright{
	display: flex;
	flex-direction: column;
	width:80%;
}

.payment_copyright a {text-decoration: underline;}