body{
	margin:0 auto;
	padding : 0;
	font-family: 'Poppins', sans-serif;
}

input, button, a{
	outline: none;
}

/*pour que le padding soit prit en compte dans le calcul des largeurs*/
*{box-sizing: border-box;}

a {
	color:black;
	text-decoration: none;
}

ul{
	list-style: none;
}

p{text-align: justify;}