/* TRONC COMMUN MODALE */

.container,.containerWish {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}


.image, .imageWish {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle, .middleWish {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image, .containerWish:hover .imageWish {
  opacity: 0.6;
}

.container:hover .middle, .containerWish:hover .middleWish {
  opacity: 1;
}

.text, .textWish{
  /*background-color: #4CAF50;*/
  color: white;
  font-size: 16px;
/*  padding: 16px 32px;*/
}

.linkWishItems,.linkCartItems{
	border-bottom:1px solid black;
	font-weight: bolder;
}

.linkWishItems:hover,.linkCartItems:hover{
	transition: .5s;
	border-color:var(--href-hover-color);
	color:var(--href-hover-color);
}

.items_details{
	display: flex;
	justify-content: space-between;
}

.items_details p{margin:0;}

/*HEADER*/

.top-nav1{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:black;
	height:35px;
	font-weight: bold;
	font-size:12px;

}

.top-nav1 a {
	color:white;
	text-decoration: underline;
}

.top-nav2{
	display: flex;
	justify-content: space-around;
	align-items:baseline;
	margin-bottom:5%;

}

.top-nav2 img{width:40%;}

.sales{
	display: flex;
	justify-content: flex-start;
	width:25%;
}

.sales a:hover{
	color:var(--href-hover-color);

}

.contact:after{
	content: " Nous contacter";
}

.logo1{
	display:none;
}

.logo1 img{
	width:25%;
}

.logo2{
	display: flex;
	justify-content: center;
	align-items: top;
	text-align: center;
	width:15%;
}

.logo2 img{width:100%;}

.icones{
	display: flex;
	justify-content: flex-end;
	width:25%;
}

.icones a {
	margin-left:5%;
	padding-right:10px;
	padding-left:10px;
	padding-top:8px;
	padding-bottom:8px;
	border-radius:50%;
	height:35px;
}


.icones a:hover{
	background-color:#F0F0F0;
}

#fa-user:after{
	content: "\f007";
	font-weight:100;
}

#fas-fa-user:after{
	content: "\f007";
	font-weight:900;
}

#fa-search:after{
	content: "\f002";
	font-weight:100;
}

#fa-heart:after{
	content: "\f004";
	font-weight:100;
}

#fas-fa-heart:after{
	content: "\f004";
	font-weight:900;
}

#fa-shopping-bag:after{
	content: "\f290";
	font-weight:100;
}

#fas-shopping-bag:after{
	content: "\f290";
	font-weight:900;
}

#fa-toolbox:after{
	content: "\f552";
	font-weight:900;
}

#fa-search:after,
#fa-user:after,
#fas-fa-user:after,
#fa-heart:after,
#fas-fa-heart:after,
#fa-shopping-bag:after,
#fas-shopping-bag:after,
#fa-toolbox:after,
.cart_number{
	font-family: 'Font Awesome 5 Pro'; 
	display: block; 
	text-indent: 0;
	
}

.cart_number{
	font-family: 'Poppins', sans-serif;
	font-size:12px;
}

.navbar{
	margin-top:2%;
	width:100%;
}

.navbar ul{
	display: flex;
	justify-content: space-around;
}

.navbar li {display: inline;}

.navbar a:hover{
	transition:.5s;
	color:lightgray;
}







/*BOITE MODAL*/

*:focus{
	box-shadow:0 0 1px black;
} 

.modal,.modal_menu {
	position:fixed;
	display: flex;
	align-items: flex-start;
	top:0;
	left:0;
	width:100%;
	height:100%;
	animation: fadeIn .6s both;
	z-index: 2;
}

.modal{background-color:rgba(255,255,255,0.4);}

.modal-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow:auto;
	background-color:white;
/*	padding:20px;
*/	width:100%;
	height:auto;
	/*width:600px;
	max-width:calc(100vw - 20px); calc pour laisser de la marge sur les côtés
	max-height:calc(100vh - 20px);/*100 vh = une fois la hauteur de la taille de l'écran*/
}

.modal-wrapper_menu{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow:auto;
	background-color:white;
	width:100%;
	height:100%;
}

.modal-wrapper{animation: slideFromTop .6s both;}

.modal[aria-hidden="true"], .modal_menu[aria-hidden="true"] {
/*	animation: fadeOut .6s both;*/
	animation-name: fadeOut;
}

.modal[aria-hidden="true"] .modal-wrapper{
/*	animation: slidetoBottom .6s both;
*/	animation-name: slideToBottom;
}


@keyframes fadeIn {
  from {opacity:0;}
  to {opacity:1;}
}

@keyframes slideFromTop {
  from {transform:translateY(40px);}
  to {transform:translateY(170px);}
}

@keyframes fadeOut {
  from {opacity:1;}
  to {opacity:0;}
}

@keyframes slideToBottom {
  from {transform:translateY(170px);}
  to {transform:translateY(40px);}
}








@keyframes slideFromTopBis {
  from {transform:translateY(40px);}
  to {transform:translateY(180px);}
}

.modal-wrapper_menu{animation: slideFromTopBis .6s both;}	

@keyframes slideToBottomBis {
  from {transform:translateY(180px);}
  to {transform:translateY(40px);}
}

.modal[aria-hidden="true"] .modal-wrapper_menu{
/*	animation: slidetoBottom .6s both;
*/	animation-name: slideToBottomBis;
}






/*FORMULAIRE CONNEXION*/

.close-btn{
	display: flex;
	justify-content: flex-end;
	margin-right:3%;
	margin-left:3%;
}

.close-btn button,
.close-btn button i{
	padding-right:5px;
	padding-left:5px;
	padding-top:4px;
	padding-bottom:4px;
	border-radius:50%;
}

.close-btn button{
	margin-top:1%;
	background:none;
	border:none;
}

.close-btn button i{
	margin-right:5%;
	font-size:15px;
}

.close-btn button:hover{
	background-color:#F0F0F0;
}

.close-btn-top{border-top:1px solid #F0F0F0;}

.connexion-form span{
	color:red;
	font-size:15px;
	margin-bottom:2%;
}

.connexion-form,.empty-wish,.search-title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size:12px;

}

.connexion-form h1{margin:0;}

.identification{
	color:white;
	background-color:black;
	height:40px;
	font-size:12px;
	font-family: 'Poppins', sans-serif;
	font-weight:bold;
	width:25%;
}

.mail,.password{
	height:40px;
	width:25%;
	border: 0.1px solid lightgray;
}

.forgotten-password:hover{
	font-weight:bolder;
}

.subscribe{
	font-weight:bolder;
	text-decoration: underline;
	margin-bottom:5%;
}








/*WISH LIST ET CART MODALS*/

.wish_cart_overview{
	display: flex;
	flex-direction: column;
	align-items : center;
	width:100%;
}

.wish_cart_overview h3{font-weight:lighter;}

.wish_cart_products{
	display: flex;
	justify-content: space-around;
	width:100%;
}

.wish_cart_list{
	margin-top:2%;
	/*margin-bottom:5%;*/
	display: flex;
	flex-direction: column;
	width:auto;
}

.wish_cart_list p{
	margin-top:1%;
}

.wish_cart_list img{
	height:200px;
	width:auto;
}

.wishPriceColor{
	display: flex;
	justify-content: space-between;
}


.wish_cart_picture{
	display: flex;
	justify-content: center;
}

.remove_wish_cart{

	display: flex;
	margin-bottom:2%;

}

.add_cart button{
	background-color: black;
	color:white;
	border:none;
	padding:2%;
	width:100%;
}

.add_cart button:hover{
	transition:.5s;
	background-color: white;
	border:1px solid black;
	color:black;
}

.total_amount{
	border-top:1px solid lightgray;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width:90%;

}

.total_amount p{font-size:15px;}

.total_amount a{
	font-weight:bolder;
	color:white;
	background-color:black;
	padding:1%;
	text-decoration: none;
	border:1px solid black;
}

.total_amount a:hover{
	transition:.5s;
	background-color: white;
	color:black;
}

.total_line{
	width:100%;
}

.payment{
display: flex;
justify-content: flex-end;}





/*SEARCH MODAL*/

.search-console{
	display: flex;
	justify-content: space-around;
	align-items:baseline;
}

.product-suggestion{
	display: flex;
	flex-direction: column;
	width:60%;
}

.product-suggestion img{
		height:200px;
		width:auto;
}

.product-description{
	display: flex;
	justify-content:flex-start;
	margin-top: 2.5%;
	padding-bottom: 2.5%;
}

.article{
	margin-right:10%;
}

.search-form{
	width:30%;
}

.search{
	height:40px;
	font-family: 'Poppins', sans-serif;
	border-bottom:1px solid black;
	border-top:none;
	border-left:none;
	border-right:none;
	margin:0;
	width:80%;
}

.search-button{
	height:40px;
	background-color:black;
	margin:0;
	border:none;
	width:10%;
}

.search-button i {
	color:white;
}

.autocompletion{
	display: flex;
	flex-direction: column;
	border-right:1px solid var(--href-hover-color);
	border-left:1px solid var(--href-hover-color);
	border-bottom:1px solid var(--href-hover-color);
	width:80%;
}

.autocompletion a{
	display: flex;
	justify-content: space-between;
	padding:1%;
	margin:0;
}

.autocompletion a:hover{
	transition:.5s;
	background-color:var(--href-hover-color);
}

.autocompletion a p{padding:1%;}

.autocompletion p{padding:3%;}


/*MODAL PERSONAL SPACE*/

.personal_space{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom:5%;
}

.personal_space h1{font-size:20px;}

.personal_space form{
	margin-top:5%;
}

.table_personal_space{
	margin-top:5%;
	width:80%;
}


.table_personal_space th, 
.table_personal_space td{
	text-align: center;
	width:25%;
}

.table_personal_space th{font-size:13px;}
.table_personal_space td{font-size:20px;}

.table_personal_space td i:hover{
	transition: .5s;
	color: var(--href-hover-color);
}


.submit_deconnexion{
	background-color: white;
	border:none;
	text-decoration: underline;
	font-family:'Poppins', sans-serif; 

}

.submit_deconnexion:hover{
	transition: .5s;
	color:var(--href-hover-color);

}


/*MENU MODAL*/

.menu_title h3{
	font-weight:lighter;
	text-align: center;
	background-color:black;
	padding:2%;
	margin-top:0;
}

.menu_title h3 a{color:white;}

.menu_title h3 a:hover{
	transition:.5s;
	color:lightgray;
}

.modal_table_menu{
	display: flex;
	justify-content: space-around;
}

.table_menu{
	width:auto;
	text-align: left;
}

.table_menu th{
	font-weight:lighter;
	padding-top:5%;
	padding-bottom:5%;
}

.table_menu a:hover{
	transition:.5s;
	color:lightgray;
}

/*RESPONSIVE*/

@media screen and (max-height: 700px)
{

	/* MODALS WISH/CART LIST */

	.wish_cart_products h4,
	.wish_cart_products p{
		display: none;
	}

	.removeCartButton:after{
		content: " SUPPRIMER";
	}

	.miniDelete:after{
		content: " SUPPRIMER";
	}





	/* MODALS SEARCH */

	.product-suggestion h5,.product-suggestion p{display: none;}



}

@media screen and (max-height: 450px) {
/*  .lateralNavbar a {font-size: 20px}
*/  .lateralNavbar .lateralNavbarCloseBtn {
/*  font-size: 40px;
*/  top: 15px;
  	right: 35px;
  }

}

@media screen and (max-width: 1440px)
{

	

}



@media screen and (max-width: 1024px)
{

	

	
}

@media screen and (max-width: 900px)
{

	/* TOP NAVBAR 1 */
	.top-nav1{font-size:10px;}

	/* TOP NAVBAR 2 */

	.contact:after{
		content: " ";
	}

	.logo1{
		display:flex;
		justify-content: center;
		text-align: center;
		margin-bottom: 5%;
	}

	.logo1 img{
		width:30%;
	}

	.logo2{display:none;}

	/* MODALS TRANSITION */

	@keyframes slideFromTop {
		from {transform:translateY(40px);}
	  	to {transform:translateY(190px);}
	}

	@keyframes slideToBottom {
		from {transform:translateY(190px);}
	  	to {transform:translateY(40px);}
	}




	/* MODALS SEARCH */

	.search-console{
		flex-wrap: wrap-reverse;
	}

	.product-suggestion,.search-form{
		width:100%;
		
	}

	.search-form{
		text-align : center;
	}

	.product-suggestion{
		align-items : center;
	}

	.product-suggestion img{width:auto;}

	.product-description{
		justify-content: space-around;
		width:100%;
	}

	.article{margin:0;}

	/* MODALS WISH/CART LIST */
	.total_amount a{padding:2%}

	
}

@media screen and (max-width: 768px)
{
	

}


@media screen and (max-width: 630px)
{
	

	



}


@media screen and (max-width: 480px)
{
	

}


