
.progression-bar{
	position:absolute;
	top:0;
	left:0;
	border-bottom: 2px solid black;
	width:35%;
	z-index: 1;
}

.profil_page_head{
	width:80%;
}

.profil_page_head p{
	width:50%;
}

.update_form{
	display:flex;
	flex-direction: column;
/*	width:80%;
*/}



.form_image{
	display: flex;
	justify-content: space-between;
	align-items: top;
}

.gender{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width:80%;
}

.input{
	font-family: 'Poppins', sans-serif;
	padding:2.5%;
	margin-bottom:3% ;
	width:80%;
}

.newsletter{width:80%;}

.profil_picture{
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;
}

.profil_picture img{width:100%;}

.check_box{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.checkbox_detail{
	width:43%;
}

.checkbox_column{
	display: flex;
	flex-direction: column;
	width:50%;
}

.checkbox-position{
	display: flex;
	align-items: baseline;
	text-align: justify;
	margin-bottom:5%;
}

.update-button{
	font-family: 'Poppins', sans-serif;
	padding:2.5%;
	color:white;
	background-color:black;
	font-weight:bold;
	width:100%;
	border:none;

}

@media screen and (max-width: 1440px)
{

}

@media screen and (max-height: 700px)
{

}

@media screen and (max-width: 1024px)
{

}

@media screen and (max-width: 900px)
{
	.form_image{
		flex-wrap: wrap-reverse;
		text-align: center;
	}

	.gender{
		justify-content: center;
		width: 100%;
	}

	.profil_page_head {width:100%;}

	.profil_page_head p{width:100%;}

	.newsletter{width:100%;}

	.check_box{flex-wrap: wrap}

	.checkbox_detail,.checkbox_column{width:100%;}
}

@media screen and (max-width: 768px)
{

}

@media screen and (max-width: 630px)
{


}

@media screen and (max-width: 480px)
{

}