.search_page{
	border-top:1px solid lightgray;
}


.search_results{
	display: flex;
	margin-bottom:2%;
	padding:5%;

}

.search_results:hover{
	transition:.5s;
	background-color: #F1F1F1;
	width:100%;
}


.info_result_product{
	width:60%;
}

.image_result_product{
	display: flex;
	justify-content: flex-end;
	width:40%;
}

.image_result_product img {width:50%;}

@media screen and (max-width: 1440px)
{

}

@media screen and (max-height: 700px)
{

}

@media screen and (max-width: 1024px)
{

}

@media screen and (max-width: 900px)
{

}

@media screen and (max-width: 768px)
{
	.search_results{flex-wrap: wrap-reverse;}
	.info_result_product,.image_result_product{width:100%}
	.image_result_product{justify-content: center}


}

@media screen and (max-width: 630px)
{

}

@media screen and (max-width: 480px)
{

}